<div class="container border mt-3">
  <div class="d-flex justify-content-between">
    <input type="text" class="form-control w-25 m-3" placeholder="Search..." [(ngModel)]="searchTerm">
    <div class="form-check form-switch mt-4">
      <label class="form-check-label" for="flexSwitchCheckChecked">Change BG</label>
      <input class="form-check-input" (change)="changeBg()" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    </div>
  </div>
<table class="table table-hover mt-5" [ngClass]="isChanged ? '' : 'table-dark'">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Designation</th>
      <th>City</th>
      <th>Country</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of displayedData | search : searchTerm; index as i" appHighlightRow>
      <td>{{i + 1}}</td>
      <td>{{user.name | prefix : user.gender}}</td>
      <td>{{user.desig}}</td>
      <td>{{user.address.city}}</td>
      <td>{{user.address.country}}</td>
      <td><button class="btn" [ngClass]="isChanged ? 'btn-outline-dark' : 'btn-outline-light'" [routerLink]="['/details']" [queryParams]="{'id':user.id}">Details</button></td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between my-3">
  <button class="btn btn-primary" (click)='previousPage()'>Previous</button>
  <span>Page {{currentPage}} of {{totalPages}}</span> <!-- Show current page and total pages -->
  <select name="" class="form-select" id="" (change)="changePageSize($event)">
    <option value="">Items Per Page</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
  </select>
  <button class="btn btn-primary" (click)="nextPage()">Next</button>
</div>
</div>
