<div class="container mt-2 border p-3">
  <h3>SignUp Form</h3>

  <form [formGroup] = 'signUpForm' (ngSubmit)="saveForm()">
    <div class="row mt-4">

      <div class="col-md-4">
        <label for="username" class="form-label">UserName</label>
        <input type="text" name="userName" id="username" class="form-control" formControlName="userName">
      </div>

      <div class="col-md-4">
        <label for="pwd" class="form-label">Password</label>
        <input type="text" name="password" id="pwd" class="form-control" formControlName="password">
      </div>

      <div class="col-md-4">
        <label for="pwd2" class="form-label">Confirm Password</label>
        <input type="text" name="pass2" id="pwd2" class="form-control" formControlName="confirmPassword">

        <div class="row">
          <div class="invalid-feedback d-block" *ngIf="confirmPassword?.errors?.['passwordMismatch']">Confirm Password should be same as Password</div>
        </div>
      </div>

    </div>

    <button type="Submit" class="btn btn-primary mt-3" [disabled]="signUpForm.invalid">Sign Up</button>
  </form>
</div>

