<div class="container border p-4 mt-5 bg-info bg-opacity-50 w-50">
  <h2 class="text-center p-3 bg-danger bg-opacity-25">SHOPPING CART</h2>

  <form [formGroup]="productForm" (ngSubmit)="saveForm()">
  <!-- category  -->
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select class="form-control" id="category" formControlName="category">
        <option value="">Select Category</option>
        <option *ngFor="let category of categoryArr" [value]="category">{{category}}</option>
      </select>

      <div class="row" *ngIf="category?.invalid && category?.pristine">
        <div class="invalid-feedback d-block" *ngIf="category?.errors?.['required']">Select Category first</div>
      </div>
      <div class="row" *ngIf="category?.valid && category?.touched">
        <div class="valid-feedback d-block">Perfect!</div>
      </div>
    </div>
  <!-- productName  -->
    <div class="mb-3">
      <label for="productName" class="form-label">Product Name</label>
      <select class="form-control" id="productName" formControlName="productName">
        <option value="">Select Product</option>
        <option *ngFor="let product of productArr" [value]="product">{{product}}</option>
      </select>

      <div class="row" *ngIf="category?.dirty">
        <div class="invalid-feedback d-block" *ngIf="productName?.errors?.['required']">Select Product</div>
      </div>
      <div class="row" *ngIf="productName?.valid && category?.dirty">
        <div class="valid-feedback d-block">Perfect!</div>
      </div>
    </div>
  <!-- quantity  -->
    <div class="mb-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input type="text" class="form-control" id="quantity" placeholder="Enter quantity" formControlName="quantity">

      <div class="row" *ngIf="quantity?.invalid && quantity?.touched || quantity?.dirty">
        <div class="invalid-feedback d-block" *ngIf="quantity?.errors?.['required']">This field is required</div>
        <div class="invalid-feedback d-block" *ngIf="quantity?.errors?.['pattern']">Only numbers are allowed</div>
      </div>
      <div class="row" *ngIf="quantity?.valid && quantity?.dirty">
        <div class="valid-feedback d-block">Perfect!</div>
      </div>
    </div>
  <!-- price  -->
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" class="form-control" id="price" placeholder="Enter price" formControlName="price">

      <div class="row" *ngIf="price?.invalid && price?.touched || price?.dirty">
        <div class="invalid-feedback d-block" *ngIf="price?.errors?.['required']">This field is required</div>
        <div class="invalid-feedback d-block" *ngIf="price?.errors?.['pattern']">Only numbers are allowed</div>
      </div>
      <div class="row" *ngIf="price?.valid && price?.dirty">
        <div class="valid-feedback d-block">Perfect!</div>
      </div>
    </div>
  <!-- totalPrice  -->
    <div class="mb-3">
      <label for="totalPrice" class="form-label">Total Price</label>
      <input type="text" class="form-control" id="totalPrice" placeholder="Total price" formControlName="totalPrice" readonly>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-success mx-3" (click)="getData()">Get Data</button>
    <button type="button" class="btn btn-warning" (click)="patchData()">Patch Data</button>
    <button type="button" class="btn btn-danger mx-3" (click)="reset()">Reset</button>

  </form>

  </div>

